.GameOverModal-title,
.GameOverModal-subTitle {
  width: 100%;
  font-size: 24px;
  color: #db0017;
  font-weight: 900;
}
.GameOverModal-title {
  margin-bottom: 0;
}
.Button {
  width: 100%;
  margin-top: 2%;
}

.GameOverModal-modal-box {
  /* position: absolute;
  left: 0; */
  z-index: 2;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 40%;
  padding: 1.2%;
  border: 1px solid #0c8bad;
}
