.RecordModal-modal-box {
  z-index: 3;
  position: fixed;
  bottom: 0;
  top: 0;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 60%;
  padding: 1.2%;
  border: 1px solid #0c8bad;
}

.position-table {
  color: #0d287e;
  width: 100%;
  margin-bottom: 3%;
}
