.grid-table {
  border: 2px solid blue;
  height: 550px;
  width: 550px;
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  color: white;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgba(0, 60, 88, 0.788); */
  height: 100vh;
  /* margin: 0 350px; */
}

.square {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  /* transition: all 0.3s ease-in-out; */
}

.true {
  background-color: #9f7267;
  color: white;
}
.initial {
  background-color: black;
}
.food {
  background-color: red;
}
