.grid-table {
  /* border: 8px solid blue; */
  height: 550px;
  width: 550px;
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  color: transparent;
  border-radius: 8px;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgba(0, 60, 88, 0.788); */
  height: 100vh;
  /* position: relative; */
  /* margin: 0 350px; */
}

.square {
  border-radius: 8px;
  background-color: beige;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #db0017;
  /* transition: all 0.3s ease-in-out; */
}

.true {
  background-color: #189952;
  color: white;
  color: transparent;
}
.initial {
  background-color: #0d297e;
  color: transparent;
}
.food {
  color: transparent;
  background-color: red;
}
