.WelcomeModal-title {
  width: 100%;
  font-size: 24px;
  color: #6574cd;
  font-weight: 900;
  margin-bottom: 5%;
}

.WelcomeModal-modal-box {
  z-index: 2;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 40%;
  padding: 1.2%;
  border: 1px solid #0c8bad;
}
