.header {
  margin: 50px;
}

h1 {
  font-size: 24px;
  color: #6574cd;
  font-weight: 900;
}

button {
  padding: 10px;
  width: 158px;
  height: 58px;

  border-radius: 5px;
  color: white;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  background-color: #6574cd;
  border: 1px solid #6574cd;
}

button:hover {
  background: transparent;
  color: #6574cd;
}
